<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{ '/static/css/style.css' | relative_url }}" />
  </head>
  <body class="body">
    <header>
      <nav class="nav-bar">
        <a href="{% link index.html %}">Home</a>
        <a href="{% link about-me.html %}">About Me</a>
        <a href="{% link education.html %}">Education</a>
        <a href="{% link biotech-002.html %}">Project Biotech 002</a>
        <a href="{% link biotech-003.html %}">Project Biotech 003</a>
        <a href="{% link resume.html %}">Resume</a>
        <a href="{% link contact-me.html %}">Contact Me</a>
      </nav>
    </header>

    <main class = >{{content}}</main>
    <footer class="site-footer">
      <div class="footer-border">
        <p>&copy; 2026 Butil this. All right reserved</p>
      </div>
    </footer>
  </body>
</html>
